<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <header>
                <nav>
                    <ul>
                        <li><a href="/home-page">Home</a></li>
                        <li><a id="current-page">About</a></li>
                        <li><a href="/my-recipes">My Recipes</a></li>
                        <li><a href="/shopping-list">Shopping List</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="tagline">
                    <h1>Re-Easy!</h1>
                    <p>Where Managing Recipes is Easy!</p>
                </div>

                <section class="question-section">
                    <h2>What is Re-Easy?</h2>
                    <p>
                        Re-Easy is the handy web app to serve as a way of managing all of
                        your favorite recipes without needing to dig out your old recipe book!
                        Re-Easy has many different features which will make your journey into
                        cooking a much more positive one! Now, that begs the question. . .
                    </p>
                </section>
                <section class="question-section">
                    <h2>Why use Re-Easy?</h2>
                    <ul>
                        <li>Add recipes through a simple display</li>
                        <li>Access your recipes from anywhere and anytime</li>
                        <li>Build a digital shopping list</li>
                        <li>Easily print any of your recipes to paper</li>
                        <li>And more!</li>
                    </ul>
                    <p>Due to these helpful features, Re-Easy makes recipes easy!</p>
                </section>
            </main>
            <footer>
                <p>
                    Note: This website is being developed for a class project and in no way should be
                    considered representative of any organization.
                </p>
            </footer>
        </div>
    </body>
</html>