<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - Home</title>
        <link rel="stylesheet" href="/css/style.cs">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a>Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/my-recipes">My Recipes</a></li>
                    <li><a href="/shopping-list">Shopping List</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>Re-Easy!</h1>
            <p>For when you need your recipe management made easy!</p>
        </main>
        <footer>
            <p>
                Note: This website is being developed for a class project and in no way should be
                considered representative of University of Wisconsin Oshkosh.
            </p>
        </footer>
    </body>
</html>