<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - <%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <header>
                <nav>
                    <ul>
                        <li><a id="current-page">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/my-recipes">My Recipes</a></li>
                        <li><a href="/shopping-list">Shopping List</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="tagline">
                    <h1>Re-Easy!</h1>
                    <p>Where Managing Recipes is Easy!</p>
                </div>
                <section id="add-recipe">
                    <h2>Try adding a recipe!</h2>
                    <form>
                        <div class="prompt-input">
                            <label for="recipe-name-input">Recipe Name:</label>
                            <textarea id="recipe-name-input" placeholder="ex: Choc' chip cookies" required></textarea>
                        </div>

                        <!-- The input method for ingredients may be subject to change -->
                        <div class="prompt-input">
                            <label for="ingredients-input">Ingredients:</label>
                            <textarea id="ingredients-input"></textarea>
                        </div>

                        <div class="prompt-input">
                            <label for="notes-input">Extra Notes:</label>
                            <textarea id="notes-input" placeholder="Remember to..."></textarea>
                        </div>

                        <button id="create-recipe-button">Create Recipe!</button>
                    </form>
                </section>
            </main>
            <footer>
                <p>
                    Note: This website is being developed for a class project and in no way should be
                    considered representative of any organization.
                </p>
            </footer>
        </div>
        <script src="/js/homeScript.js" defer></script>
    </body>
</html>