<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <header>
                <nav>
                    <ul>
                        <li><a id="current-page">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/my-recipes">My Recipes</a></li>
                        <li><a href="/shopping-list">Shopping List</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="tagline">
                    <h1>Re-Easy!</h1>
                    <p>Where Managing Recipes is Easy!</p>
                </div>
                <section id="add-recipe">
                    <h2>Try adding a recipe!</h2>
                    <form>
                        <div class="prompt-input">
                            <p class="input-label">Recipe Name</p>
                            <input type="text">
                        </div>

                        <!-- The input method for ingredients may be subject to change -->
                        <div class="prompt-input">
                            <p class="input-label">Ingredients</p>
                            <input id="ingredients-input" type="text">
                        </div>

                        <div class="prompt-input">
                            <p class="input-label">Extra Notes</p>
                            <input id="notes-input" type="text">
                        </div>
                    </form>
                </section>
            </main>
            <footer>
                <p>
                    Note: This website is being developed for a class project and in no way should be
                    considered representative of any organization.
                </p>
            </footer>
        </div>
    </body>
</html>