<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - <%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a id="current-page">My Recipes</a></li>
                    <li><a href="/shopping-list">Shopping List</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="tagline">
                    <h1>Re-Easy!</h1>
                    <p>Where Managing Recipes is Easy!</p>
                </div>

            <!-- TO DO: IMPLEMENT PAGE LATER -->

            <p>PAGE TO BE IMPLEMENTED ALONGSIDE DB INTEGRATION</p>

        </main>
        <footer>
            <p>
                Note: This website is being developed for a class project and in no way should be
                    considered representative of any organization.
            </p>
        </footer>
        </div>
    </body>
</html>