<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Easy - <%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <header>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/my-recipes">My Recipes</a></li>
                        <li><a id="current-page">Shopping List</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div id="tagline">
                    <h1>Re-Easy!</h1>
                    <p>Where Managing Recipes is Easy!</p>
                </div>

                <div id="shopping-list-container">
                    <!-- This is a sample to show what a shopping list would look like -->
                    <section id="shopping-list">
                        <h2>Shopping List</h2>
                        <ul id="shopping-list-items">
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Clove of Garlic
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                4 Packets of Baker's Yeast
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Bag of All-Purpose Flour
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Carton of Large Eggs
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Box of Baking Soda
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Gallon of Milk
                            </li>
                            <li class="ingredient">
                                <input type="checkbox">
                                1 Can of Evaporate Milk
                            </li>
                            <li id="new-ingredient-container">
                                <textarea id="new-ingredient"></textarea>
                                <button id="add-ingredient-button">Add</button>
                            </li>
                            <li>
                                <button id="clear-list-button">Clear?</button>
                            </li>
                        </ul>
                    </section>
                </div>
                

            </main>
            <footer>
                <p>
                    Note: This website is being developed for a class project and in no way should be
                    considered representative of any organization.
                </p>
            </footer>
        </div>
        <script src="./js/shoppingListScript.js" defer></script>
    </body>
</html>